{% extends "admin/panel.html" %}

{% block panelContent %}
<h1>Usuarios</h1>

<p>Usuarios com acesso ao painel</p>

<hr>

<a href="{{URL}}/admin/users/new">
    <button type="button" class="btn btn-success">Cadastrar usuario</button>
</a>

<hr>

{% include "admin/alert/status.html" %}

<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>email</th>
            <th style="width: 200px;">Accoes</th>
        </tr>
    </thead>

    <body>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.nome}}</td>
                <td>{{user.email}}</td>
                <td>
                    <a href="{{URL}}/admin/users/{{user.id}}/edit">
                        <button type="button" class="btn btn-primary">Editar</button>
                    </a>
                    <a href="{{URL}}/admin/users/{{user.id}}/delete">
                        <button type="button" class="btn btn-danger">Excluir</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <p>Sem usuarios</p>
        {% endfor %}
    </body>
</table>

{% include 'admin/pagination.html' with {'paginations': paginations} only %}

{% endblock %}