<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    {% include 'pages/styles.html' %}

  </head>

  <body class="bg-dark text-light min-vh-100 d-flex flex-column justify-content-between">
    
    <div> <!-- Wrapper (Without footer) -->

      {% include 'pages/header.html' %}

      <main class="m-2">
        {% block content %}{% endblock %}
      </main>

  </div> <!-- End: Wrapper (Without footer) -->


  {% include 'pages/footer.html' %}

  </body>

  {% include 'pages/scripts.html' %}

</html>
