<!DOCTYPE html>
<html lang="pt-pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    {{styles}}

  </head>

  <body class="bg-dark text-light min-vh-100 d-flex flex-column justify-content-between">
    
    <div> <!-- Wrapper (Without footer) -->

      {{header}}

      <main class="m-2">
        {{content}}
      </main>

  </div> <!-- End: Wrapper (Without footer) -->


 {{footer}}

  </body>

  {{scripts}}

</html>
