{% extends "pages/page.html" %}

{% block content %}
    <h1>Depoimentos</h1>

    <hr>

    <section id="testimonies">

        {% for testimony in testimonies %}
            <div class="card text-dark mb-3">
                <h5 class="card-header">
                    {{testimony.nome}}
                    <small>{{testimony.data}}</small>
                </h5>
                <div class="card-body">
                    {{testimony.mensagem}}
                </div>
            </div>
        {% else %}
            <p>Sem depoimentos</p>
        {% endfor %}

    </section>

    {% include 'pages/pagination.html' with {'paginations': paginations} only %}

    <hr>

    <section id="form">

        <h3>Envie seu depoimento</h3>

        <form action="?page=1" method="post">
            {% include 'security/csrf.html' with {'csrf_token': csrf_token} only %}
            <div class="mb-3">
                <label>Nome</label>
                <input name="nome" type="text" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Mensagem</label>
                <textarea class="form-control" name="mensagem" name="mensagem" rows="5" required></textarea>
            </div>
            <button name="enviar" type="submit" class="btn btn-success">Enviar</button>
        </form>
    </section>
{% endblock %}