{% extends "admin/panel.html" %}

{% block panelContent %}
<h1>Depoimentos</h1>

<p>Depoimentos enviados pelos usuarios</p>

<hr>

<a href="{{URL}}/admin/testimonies/new">
    <button type="button" class="btn btn-success">Cadastrar depoimento</button>
</a>

<hr>

{% include "admin/alert/status.html" %}

<table class="table table-light table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th style="width: 200px;">Nome</th>
            <th>Texto</th>
            <th>Data</th>
            <th style="width: 200px;">Accoes</th>
        </tr>
    </thead>

    <body>
        {% for testimony in testimonies %}
        <tr>
            <td>{{testimony.id}}</td>
            <td>{{testimony.nome}}</td>
            <td>{{testimony.mensagem}}</td>
            <td>{{testimony.data}}</td>
            <td>
                <a href="{{URL}}/admin/testimonies/{{testimony.id}}/edit">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                <a href="{{URL}}/admin/testimonies/{{testimony.id}}/delete">
                    <button type="button" class="btn btn-danger">Excluir</button>
                </a>
            </td>
        </tr>
        {% else %}
        <p>Sem depoimentos</p>
        {% endfor %}

    </body>
</table>

{% include 'admin/pagination.html' with {'paginations': paginations} only %}

{% endblock %}