<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="{{ URL }}/admin" class="navbar-brand">MVC</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                {% for menu in menus %}
                    <li class="nav-item">
                        <a class="nav-link {{ menu.current }}" href="{{ menu.link }}">{{ menu.label }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="d-flex justify-content-end w-100">
                <a href="{{ URL }}/admin/logout">
                    <button type="button" class="btn">Sair</button>
                </a>
            </div>
        </div>
    </div>
</nav>